<form action="/home" method="post">
  <input type="text" name="name" placeholder='item name'>
  <input type="text" name="quantity" placeholder="item quantity">
  <input type="submit" value="add to list!">
</form>
