<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>shopping_list</title>
  </head>
  <body>
    <h1>Your very own awesome shopping list application</h1>
    <a href="/add">Add an item to your shopping_list</a>
    <hr>
    <%=yield%>
  </body>
</html>
