<h1>Welcome to the login page</h1>

<% if session[:current_user] %>
  <h2>Hello , <%= session[:current_user].user_name %></h2>
  <a href="/list/add">Add an item to your shopping_list</a>

  <hr>
<% else %>
  <a href="/login">Login</a>
  <a href="/login/register">Register</a>
  <hr>
  <% end %>


<form action="/login" method="post">
  <input class='text-box' type="text" name="user_name" placeholder='username'>
  <input class='text-box' type="password" name="password" placeholder='password'>
  <input class='submit' type="submit" value="login">
</form>
