<h1>This is the register page!</h1>

<form action="" method="post">
  <input type="text" name="user_name" placeholder='username'>
  <input type="text" name="password_digest" placeholder='password'>
  <input type="submit" value="login">
</form>
