<h1>This is the register page!</h1>

<form action="/account/register" method="post">
  <input class='text-box'type="text" name="user_name" placeholder='username'>
  <input class='text-box'type="password" name="password" placeholder='password'>
  <input type="submit" class='submit' value="login">
</form>
